.navbar a:hover i {
    display: none;
}
.navbar a:hover b {
    display: inline;
}
.navbar a b {
    display: none;
}
.navbar-collapse {
    padding-left: 0px;
}

/* header */

header img{
	width: 120px;
}
header{
	padding: 40px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-default .navbar-toggle {
	border-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
	border-color: #065656;
}
.navbar-default .navbar-toggle:hover{
	background-color: white;
	
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color:  #1a1f1f;
}

.navbar {
  width: 100%;
  border: none;
  overflow: hidden;
  /* background-color: rgb(40,40,40); */
  background-image: url('back3.jpg');
}
.navbar .navbar-right{
	margin: 0 0 0 0;
}
.navbar a {
  margin-left: 20px;
  margin-top: 17px;
    text-align: center;
  text-decoration: none;
  
  font-weight: bold;
/* color: #BA55D3; */
font-size: 45px;
padding: 0 10px;
background-color:rgba(0, 0, 0, 0.7)

}

.navbar ul a:hover {
  /* background-color: white; */
  /* color:#EE82EE; */
  border-radius: 20px; 
  padding: 5px;
} 
.navbar ul .poop:hover{
    color: SaddleBrown;

}
.navbar ul .wish:hover{
    /* color: plum; */
    color: rgb(130, 201, 124);

}
.navbar ul .gift:hover{
    color: pink;

}
.navbar ul{
	float: right;
	position: relative;
	padding-right: 60px;
	padding-top: 25px;
}


@media (max-width: 1000px) and (min-width:769px) {
.navbar a{
	font-size: 25px;
	margin-top: 20px;
	margin-left: 5px;
}
.navbar ul{
    padding-right: 10px;
    padding-top:20px;
}
.navbar ul a i{
    padding: 10px;
}
}

@media (max-width: 767px) {	
.navbar ul{
	float: none;
	padding-right: 0;
	padding: 0 0 0 0;
	margin: 0 0 0;
}
.navbar{
	height: auto;
}

.navbar a{
	margin-left: 0;
	float: none;
	width: 100%;
	display: block;
    text-align: center;

	}
.navbar a img{
	align-content: center;
}
.header ul a{
    float: none;
    display: block;
    text-align: center;
    padding-bottom: 10px;

  }
 html, body {
	overflow-x: hidden;
  }
 body {
	width:100%;
  }
}

.poop i{
    color: SaddleBrown;
    /* color: pink; */
    /* color:crimson; */
}

.wish i{
    color: Plum;
    color: rgb(130, 201, 124);
    /* color: pink; */
    /* color:crimson; */
}
.gift i{
    color: pink;
    /* color:crimson; */
}

/*header end*/

div.picture.col-sm-6, div.intro.col-sm-6{
    height: 542px;
    flex: 1;
}

.picture img{
    height: 580px;
    border-radius: 50px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  /* opacity: 0.8; */
  border: 1px solid #ddd;
  padding: 5px;
  
  
}

.intro {
/* padding-left: 50px; */
padding-top:110px; 
align-items: center; 
}

.intro h1{
      text-align: center;
    color:white;
    font-size: 70px;
    font-family: Gurajada, serif;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}
.bold{
    font-weight: bold;
    font-size: 65px;
    font-family: 'Freckle Face', cursive;
    color: Crimson;
}

button{
    color: crimson;
    font-size: 13px;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid crimson;
    margin-top: 25px;
    float: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
       
}
button:hover{
    color: white;
    background-color: crimson;
    text-decoration: none;
}
#btn{
  
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.home{
    height: auto;
    display:flex;
}
@media (max-width: 851px){
    .picture img{
        height: 400px;

}
}
@media (max-width: 851px){
    div.picture.col-sm-6, div.intro.col-sm-6{
        height: auto;
    }
}

@media (max-width: 767px)
{
    .home{
        display:block;
    }
  
.picture{
   padding-top: 30px;

} 
.intro{
    padding-left: 50px;
    padding-right: 50px;
}
.intro h1{
    padding-top:60px;
}

}
@media (max-width: 962px){
.intro{
    padding-left: 50px;
}

.intro h1{
    padding-top:50px;
    font-size: 50px;
}
}

body{
    background-image: url('back3.jpg');
}
   /* transition */
   .animation-area{
    overflow: hidden;
  }
  .box-area {
    top: 0;
    left: 0; 
     width: 100%; 
    height: 100%;
     overflow-x: hidden;
  }
  @media(max-width:400px){
    html{
      overflow-x: hidden;
    }
  }
  .box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 10s linear infinite;
    bottom: -0px;
    border-radius: 100%;
  }
  .box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(2) {
    left: 12%;
    
    width: 30px;
    height: 30px;
      animation-delay: 1.5s;
    animation-duration: 10s;
  }
  .box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
      animation-delay: 5.5s;
   
  }
  .box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  .box-area li:nth-child(5) {
    left: 58%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
      animation-delay: 3.5s;
  
      
  }
  @keyframes animate {
    0% {
      transform: translateY(0px) rotate(0deg);
      opacity: 1;
      }
      
    100% {
      transform: translateY(-800px) rotate(360deg);
      opacity: 0;
    }
  } 
  @media(max-width:600px){
    .animation-area{
        position: relative;
        display: none;
      }
}
.box-area {
    top: 0;
    left: 0; 
     width: 100%; 
    height: 100%;
     overflow-x: hidden;
  }
  @media(max-width:400px){
    html{
      overflow-x: hidden;
    }
  }